.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2a154;
  height: 100px;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.addBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: inherit;
}
