.App {
  
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2a154;
  height: 100px;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.addBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.link {
  text-decoration: none;
  color: inherit;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
